<%- include("partials/header") %>
<%- include("partials/messages") %>

<style>
	h1{
		text-align: center;
		color:#ffffff;
	}
	div a.a{
		position: absolute;
  		right: 595px;
	}
</style>

<div class="container">
	<div class="row">
		<h1 class="w3-lobster">
		Login!
		</h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/login" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="email" placeholder="Enter E-mail here" id="emaillogin">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="password" placeholder="Enter password here" id="passwordlogin">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">
						Submit!
					</button>
				</div>
			</form>
			<div>
				<a href="/">Go Back!</a>
				<a class="a" href="/signup">New User? Sign Up Here!</a>
			</div>
		</div>
	</div>
</div>


<%- include("partials/footer") %>