<%- include("../partials/header") %>

<div class="container w3-roboto">
	<div class="jumbotron text-center">
  		<h1 class="w3-lobster">Daily Expense Manager!</h1>
  		<p> Manager your daily spending so you don't have to starve at the end of the month. </p>
  		<p><a class="btn btn-primary btn-lg" href="/spending" role="button">Learn more</a></p>
	</div>
</div>

<!-- <div class="container w3-roboto">
	<div class="jumbotron text-center">
  		<h1 class="w3-lobster">To-Do-List!</h1>
  		<p> Schedule your daily activities. </p>
  		<p><a class="btn btn-primary btn-lg" href="/todolist" role="button">Learn more</a></p>
	</div>
</div> -->

<div class="container w3-roboto">
	<div class="jumbotron text-center">
  		<h1 class="w3-lobster">Save for your dream!</h1>
  		<p> Want to buy your dream product but don't want to loan or borrow money? You can set your goal and calculate the monthly savings you need to do in order to buy it and track your savings to reach the goal. </p>
  		<p><a class="btn btn-primary btn-lg" href="/mydream" role="button">Learn more</a></p>
	</div>
</div>

<div class="container w3-roboto">
	<div class="jumbotron text-center">
  		<h1 class="w3-lobster">About Us!</h1>
  		<p> Know more about the developer. </p>
  		<p><a class="btn btn-primary btn-lg" href="/aboutus" role="button">Learn more</a></p>
	</div>
</div>

<%- include("../partials/footer") %>