<%- include("../partials/header") %>
<%- include("../partials/messages") %>


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1275px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://i.ibb.co/JH08gSt/Photo-Grid-1495451684397.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2 class="w3-lobster">Ankit Anurag</h2>
          </div>
        </div>
        <div class="w3-container">
			<br>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
          <p><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>KIIT University, 3rd Year, IT</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Bhubaneshwar, Orissa</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ankitvarun.mohanty@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>(+91) 8902672346 | 8918085379</p>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    	<br> <br> <br>
    	<form action="https://formspree.io/xgeoyzqy" class="w3-container w3-card-4 w3-light-grey w3-text-teal w3-margin" method="POST">
			<h2 class="w3-center w3-text-dark-gray w3-lobster">Contact Us!!</h2>
		<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border w3-text-dark-gray" name="first" type="text" placeholder="First Name">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border w3-text-dark-gray" name="last" type="text" placeholder="Last Name">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border w3-text-dark-gray" name="email" type="text" placeholder="Email">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border w3-text-dark-gray" name="phone" type="text" placeholder="Phone">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border w3-text-dark-gray" name="message" type="text" placeholder="Message">
	</div>
</div>
<p class="w3-center">
<button class="w3-button w3-section btn btn-primary btn-md w3-ripple"> Submit! </button>
</p>
</form>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center" style="position: fixed; bottom: 0; width: 100%; font-size: 25px;">
  <h3 style="font-family: Lobster; margin-bottom: 0; margin-top: 5px;">Find me on social media.</h3>
  <a href="https://www.facebook.com/varun.ankitanurag" target="_blank" class="w3-text-indigo" style="margin-right: 10px;"> <i class="fa fa-facebook-official w3-hover-opacity"></i> </a>
  <a href="https://www.instagram.com/varun_ankit_anurag/" target="_blank" class="w3-text-red" style="margin-right: 10px;"> <i class="fa fa-instagram w3-hover-opacity"> </i> </a>
  <a href="https://www.linkedin.com/in/ankit-anurag-b81baa134/" target="_blank" class="w3-text-aqua"> <i class="fa fa-linkedin w3-hover-opacity"> </i> </a>
</footer>


<%- include("../partials/footer") %>